*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #c4c4c4;

}
.nav{
    background-color: #0f0740;
    color: white;
    text-align: left;
    height: 70px;


}
.About{
    width: 96px;
    height: 45px;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 42.19px;
    padding-left: 35px;
    padding-top: 10px;
}
.img-1{
    float: left;
    width: 200px;
    height: 100px;
    padding-left: 30px;
    padding-top: 30px;
}
.rent{
    padding-top: 30px;
    font-weight: 700;
    font-size: 20px;
}



