*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:darkorange;
    background-image: url("./assets/Login-Page-Class.jpg");
}
.container{
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 20px;
    font-weight: 600;
    position: relative;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    width: 100%;
    margin: 20px 0 12px 0;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
}
form .buttonr{
    height: 45px;
    width: 100%;
}
form .buttonr input{
    height: 100%;
    width: 100%;
    background-color: lime;
    font-size: 15px;
    font-weight: 600;
}

/*start of login style*/

.lcont{
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 25px 30px;
    border-radius: 5px;
    
}
.lcont .title{
    font-size: 20px;
    font-weight: 600;
    position: relative;
}
/*.lcont form .log-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}*/
form .buttonl{
    height: 45px;
    width: 100%;
}
form .buttonl input{
    height: 100%;
    width: 100%;
    background-color: lime;
    font-size: 15px;
    font-weight: 600;
}
form .log-details .input-box{
    width: 100%;
    margin: 20px 0 12px 0;
}
.log-details .input-box input{
    height: 45px;
    width: 100%;
}